::before,
::after,
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/images/bg-pattern-top-mobile.svg);
  font-family: "League Spartan";
}

.container {
  width: 100%;
  max-width: 200px;
  margin: 1em auto;
  /* text-align: center; */
}

@font-face {
  font-family: League Spartan;
  src: url(/assets/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
img {
  /* width: 100%; */
}

.header {
  font-size: 27px;
  color: hsl(300, 43%, 22%);
  margin-bottom: 15px;
  text-align: center;
}

.header-quote {
  font-size: 11px;
  color: hsl(300, 43%, 22%);
  margin-bottom: 15px;
  line-height: 1.2;
  text-align: center;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.rating-review {
  color: hsl(300, 43%, 22%);
  font-size: 10px;
}

.social-proof-blockquote {
  background-color: hsl(300, 43%, 22%);
  margin-bottom: 6px;
  padding: 15px;
  border-radius: 5px;
}

.persons-id {
  display: flex;
  gap: 10px;
}

.persons-id img {
  border-radius: 50px;
  width: 30px;
}

.Colton-Smith {
  color: hsl(0, 0%, 100%);
  font-size: 11px;
}

.Anne-Wallace {
  color: hsl(0, 0%, 100%);
  font-size: 11px;
}

.Irene-Roberts {
  color: hsl(0, 0%, 100%);
  font-size: 11px;
}
.buyer {
  font-size: 12px;
  font-weight: 400;
  /* font-size: 13px; */
  margin-top: 2px;
  color: hsl(333, 80%, 67%);
}
.quote {
  color: hsl(300, 24%, 96%);
  font-size: 9px;
  line-height: 1.2;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
